body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(195, 204, 212);
}


main{
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  padding: 1rem;
  gap: 1rem;
  font-size: 20px;
  line-height:1.4;
}
.left-side{
  padding: 0.5rem 1rem;
}
.right-side {
  font-size: 23px;
  padding: 1rem;
  background-color: rgb(77, 99, 128);
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  text-align: center;
  border-radius:30px;
  text-wrap: balance;
  box-shadow: inset 2px 2px 12px;
}
.right-side img{
  border: 5px solid white;
  border-radius: 18px;
}
.right-side figcaption{
  margin: 10px;
}
.right-side h2{
  font-size: 22px;
}
header{
  text-align: center;
  background-color: rgb(59, 133, 79);
  border-radius: 10px;
  padding: 5px;
}

.flag{
border: 7px solid rgb(235, 163, 163);
border-radius: 25px;
}


nav{
  text-transform: uppercase;
  border: 7px solid black;
  padding: 0.2rem;
  
}
nav ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
nav a:hover{
  background-color:rgb(15, 109, 15) ;
  border-radius:4rem;

}
nav a{
  padding: 0.5rem 1rem;
  text-decoration: none;
  color:floralwhite;
  font-size: 120%;
}
nav li{
  list-style-type: none;
  padding: 4.5rem;
  font-weight: bold;
  font-size: 20px;
  
}

footer{
 background-image: url(img/foot.jpg);
  padding: 1rem 2rem;
  color:white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
  font-size: 150%;
}

.rites{
  background-image:url(img/bag3.jpg);
  min-height: 30vh;
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 3rem;
display: flex;
justify-content: center;
align-items: center;
line-height: 1.4;
}
h2{
  font-size: 120%;
}
h1{
  font-size: 130%;
}
.homebg{
  background-image:url(img/bag5.jpg);
  min-height: 30vh;
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 3rem;
display: flex;
justify-content: center;
align-items: center;
line-height: 1.4;


}



.lbg{
  background-image:url(img/bag4.jpg);
  min-height: 30vh;
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 3rem;
display: flex;
justify-content: center;
align-items: center;
line-height: 1.4;
}
.dancebg{
  background-image:url(img/bag6.avif);
  min-height: 30vh;
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 3rem;
display: flex;
justify-content: center;
align-items: center;
line-height: 1.4;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}




